
.root{
    -fx-background-color: white;
}

#imageview{
    -fx-opacity: 0.3;
    -fx-width:650px;
    -fx-height:645px;
}

#showComplaintBtn{
    -fx-background-color: darkslateblue;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, grey, 5, 0, 0, 8);
}


#showComplaintBtn:hover {
    -fx-background-color: lightslategray;
}

#showComplaintBtn:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#backBtn{
    -fx-background-color: darkslateblue;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, grey, 5, 0, 0, 8);
}


#backBtn:hover {
    -fx-background-color: lightslategray;
}

#backBtn:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}